Repository BambooHR/rapid, pull requests merged in 2020-02, with the labels that each got.

#98 release/2020_0211_2115
  rapid/lib/__init__.py
  rapid/release/data/release_dal.py
  tests/lib/test_library.py
Labels: Release Candidate

#100 release/2020_0213_2255
  rapid/workflow/data/dal/report_dal.py
Labels: Release Candidate

#99 Fixing a python3 issue
  rapid/workflow/data/dal/report_dal.py
Labels: Release, Release Train

#102 release/2020_0214_1725
  rapid/ci/data/commit_dal.py
  rapid/client/executor.py
  rapid/master/__init__.py
  rapid/master/data/migrations/env.py
  rapid/master/data/migrations/versions/28fd8ab077e8_vcs_releases.py
  rapid/master/data/migrations/versions/e66b5abaa8c2_qa_products.py
  rapid/qa/data/dals/qa_dal.py
  rapid/release/data/models.py
  rapid/testmapper/__init__.py
  rapid/workflow/action_dal.py
  rapid/workflow/api_controller.py
  rapid/workflow/queue_handlers/container_handlers/ecs_configuration.py
  rapid/workflow/queue_handlers/handlers/standard_queue_handler.py
Labels: Release Candidate

#103 reverting breaking code
  rapid/master/data/migrations/versions/28fd8ab077e8_vcs_releases.py
  rapid/release/data/models.py
Labels: Release
